$gap-zero: 0;
$gap-xs: 0.25rem;
$gap-sm: 0.5rem;
$gap-md: 1rem;
$gap-lg: 1.5rem;
$gap-xl: 2rem;
$gap-xxl: 4rem;
$gap-desktop: 6rem;

$padding-zero: 0;
$padding-xs: 0.25rem;
$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 1.5rem;
$padding-xl: 2rem;
$padding-xxl: 4rem;
$padding-desktop: 6rem;

$margin-zero: 0;
$margin-xs: 0.25rem;
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 1.5rem;
$margin-xl: 2rem;
$margin-xxl: 4rem;
$margin-desktop: 6rem;

$border-radius-zero: 0;
$border-radius-xs: 0.25rem;
$border-radius-sm: 0.5rem;
$border-radius-md: 1rem;
$border-radius-lg: 1.5rem;
$border-radius-xl: 2rem;
$border-radius-xxl: 4rem;
$border-radius-desktop: 6rem;

$border-1: 1px solid $color-primary;
$border-2: 2px solid $color-primary;
$border-error: 2px solid $color-accent-red;
